<a href="/posts/{{id}}">
  <div class="columns">
    <div class="column is-full">
      <article class="message has-background-light">
        <div class="message-header">
          <p>{{title}}</p>
          <p>{{date}}</p>
          <p>Posted by: <strong>{{user.username}}</strong></p>
        </div>
        <div class="message-body">
          {{article}}
        </div>
      </article>
    </div>
  </div>
</a>
